[defaults]
# ついでにansibleの実行時のlogのパスも追加しておきます
log_path = ./logs/ansible.log
#
# これ指定しないとPython3に向かないので注意
#
interpreter_python = /usr/bin/python3

[inventory]
# こちらは後述するDynamic Inventoryの部分で説明します
enable_plugins = gcp_compute